body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

header .header-top p span a {
  color: brown;
  text-decoration: none;
}

header .header-top .mobile-logo {
  display: none;
}

header .header-top nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #040F0F;
}

header .header-top nav li {
  list-style-type: none;
  float: right;
  padding: 0em 2em;
}

header .header-top nav a {
  text-decoration: none;
  color: #040F0F;
}

header .header-top nav a:hover {
  border-bottom: 3px solid brown;
}

.hero .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .flex-container .text-items {
  margin-top: 1.2em;
  font-size: 2.5em;
  padding: 0em 1.5em;
}

.hero .flex-container .text-items span {
  color: brown;
  -webkit-animation-name: focus-in-contract-bck;
          animation-name: focus-in-contract-bck;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.hero .flex-container svg {
  width: 45vw;
}

footer {
  border: 1px solid brown;
  background-color: brown;
  color: white;
}

@media screen and (max-width: 450px) {
  .header-top {
    display: none;
  }
  .header-top-mobile nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-top-mobile nav img {
    margin-top: 1em;
    width: 2em;
    height: 2em;
  }
  .header-top-mobile nav span a {
    color: brown;
    text-decoration: none;
  }
  .hero .flex-container .text-items {
    margin-top: 1.2em;
    font-size: 1.5em;
  }
  .hero .flex-container svg {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .header-top {
    display: none;
  }
  .header-top-mobile nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header-top-mobile nav img {
    margin-top: 1em;
    width: 2em;
    height: 2em;
  }
  .header-top-mobile nav span a {
    color: brown;
    text-decoration: none;
  }
  .hero .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hero .flex-container .text-items {
    margin-top: 1.2em;
    font-size: 1.3em;
  }
  .hero .flex-container svg {
    width: 45vw;
  }
}

@media screen and (min-width: 700px) {
  .header-top-mobile {
    display: none;
  }
}

.text-center {
  text-align: center;
}

@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=homepage.css.map */