body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

//header
header{
    .header-top{
        p{
            span{
                a{
                    color: brown;
                    text-decoration: none;
                }
            }
        }
        .mobile-logo{
            display: none;
        }
        nav{
            display: flex;
            justify-content: space-around;
            color: #040F0F;
            li{
                list-style-type: none;
                float: right;
                padding: 0em 2em;
            }
            a{
                text-decoration: none;
                color: #040F0F;

                &:hover{
                    border-bottom:3px solid brown ;
                }
            }
        }
    }
}

//Hero Section
.hero{
    .flex-container{
        display: flex;
        justify-content: center;
        .text-items{
            margin-top: 1.2em;
            font-size: 2.5em;
            padding: 0em 1.5em;
            span{
                color: brown;
                animation-name:focus-in-contract-bck;
                animation-duration: 2s;
            }
        }
        svg{
            width: 45vw;
        }
    }
}

//footer
footer{
    border: 1px solid brown;
    background-color: brown;
    color: white;
}


//mobile
@media screen and(max-width:450px) {
   .header-top{
       display: none;
   }
   .header-top-mobile{
       nav{
         display: flex;
         justify-content: space-around;
           img{
               margin-top: 1em;
               width: 2em;
               height: 2em;
           }
           span{
            a{
                color: brown;
                text-decoration: none;
            }
        }
       }
   }

   .hero{
    .flex-container{
        .text-items{
            margin-top: 1.2em;
            font-size: 1.5em;
        }
        svg{
            display: none;
        }
    }
}
}

//Tablets
@media screen and(max-width:700px) {
    .header-top{
        display: none;
    }
    .header-top-mobile{
        nav{
          display: flex;
          justify-content: space-around;
            img{
                margin-top: 1em;
                width: 2em;
                height: 2em;
            }
            span{
                a{
                    color: brown;
                    text-decoration: none;
                }
            }
        }
    }

    .hero{
        .flex-container{
            display: flex;
            justify-content: space-around;
            .text-items{
                margin-top: 1.2em;
                font-size: 1.3em;
            }
            svg{
                width: 45vw;
            }
        }
    }
 }

//Large Screens
@media screen and(min-width:700px) {
    .header-top-mobile{
        display: none;
    }
 }
//Utilities
.text-center{
    text-align: center;
}

//Animations
  @keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(12px);
              transform: translateZ(12px);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  